.main-footer
	flex none
	font-family fontHeader
	font-size 10px
	background grayDark
	color grayUltraLight
	display flex
	justify-content space-between
	align-items center
	height 50px
	p:first-child
	li
		margin-left 10px
	p:last-child
	li
		margin-right 10px
	a
		color grayUltraLight
		text-decoration none
	a
	li
		&:hover
		&:active
		&:visited
		&:focus
			cursor pointer
			text-decoration underline
	ul
		display flex
		justify-content space-around
		
	