/* HEADER STYLES */
.main-header
	flex none
	height 70px
	display flex
	justify-content space-between
	background-color grayUltraLight
	.main-nav
	.right-side
	.logo
		display flex
		align-items center
	.logo
		height 100%
		flex 1
		margin-left 10px
		img
			max-height 100%
			max-width 100%
			height 50px
	.main-nav
		justify-content center
		ul
			display flex
			justify-content space-between
			min-width 400px
	.main-nav
		flex 5
	.right-side
		flex 0.5
	.submenu-list
		display none
	.submenu
	.lang-selection
		&:after
			content "c"
	.lang-selection
	.shopping-icon
		flex 1
	.menu-title.active span
		text-decoration underline
	.menu-title span
	.menu-title a
	.shopping-icon
		font-family fontHeader, sans-serif
		text-transform uppercase
		text-decoration none
		color grayDark
		&:hover
		&:active
		&:focus
			cursor pointer
			text-decoration underline
	.lang-selection
		position relative
		.lang-list
			display none
			position absolute
			top 25px
			right 0
			width 75px
			flex-direction column
			align-items: center;
			justify-content: space-around;
			height 100px
			background-color grayDark
			color white
			text-transform uppercase
			text-align center
			&.flex
				display flex
			li:hover
				text-decoration underline
				cursor pointer
