/* HEADER STYLES */
.main-header
	flex none
	height 70px
	display flex
	justify-content space-between
	background-color grayUltraLight
	.main-nav
	.right-side
	.logo
		display flex
		align-items center
	.logo
		height 100%
		flex 1
		margin-left 10px
		img
			max-height 100%
			max-width 100%
			height 50px
	.main-nav
		justify-content center
		ul
			display flex
			justify-content space-between
			min-width 400px
	.main-nav
		flex 5
	.right-side
		flex 0.5
	.submenu-list
		display none
	.submenu::after
		font-family fontIcon
		content "\f003"
	.lang-selection
	.shopping-icon
		flex 1
	.menu-title
	.shopping-icon
		font-family fontHeader, sans-serif
		text-transform uppercase
		&:hover
		&:active
		&:focus
			cursor pointer
			text-decoration underline