.firsthome
	display flex
	align-items center
	margin 0 auto
	.first-description
		display flex
		flex-wrap wrap
		margin-left 10em
		margin-right 2em
		font-size 14px
.firsthome
.content
.bkhpakketten
	background-color white
.partnershome
	background-color grayUltraLight
