@import "reset.css";
@import "variables";
@import "body";	
@import 'header';
@import 'slider';

.firsthome
	display flex
	max-width 1280px
	align-items center
	margin 0 auto
	p
		flex 1
	.first-description
		flex 0.75
		// margin-left
		
@import 'footer';