@import "reset.css";

/* MAIN CSS */
body {
  font-family: 'Open Sans', serif;
  font-size: 16px;
  line-height: 1.52;
  background-color: #f3f3f3;
  text-rendering: optimizeLegibility;
}

// .main-header