.partnershome
  padding 20px 5em
  line-height 1.8
  background-color grayUltraLight
  .partnertitles
    display flex
    justify-content space-around
    align-content center
  h2
    &:hover
    &:active
    &:focus
    &.active
      cursor pointer
      text-decoration underline
  .partnercontent
    div
      display none
      &:first-child
        display block
