.submenu-panel
  transition all 1s ease
  background-color grayDark
  color white
  height 0
  .submenu-list
    margin 0 5em
    display none
    justify-content space-around
    align-items flex-start
    &.flex
      display flex
    .submenu-section
      flex 0 1 275px
  &.slide-open
    padding 20px 0
    height 300px
  > li
    display none
  > ul
    font-family fontHeader
    .submenu-title
      font-size fontSize2
      border-bottom 1px solid white
    .submenu-item
      line-height 2.2
      a
        font-size fontSize3
        color white
        text-decoration none
        &:hover
        &:active
        &:focus
          color white
          text-decoration underline
      i
        padding-right 10px
        color redRegular
.external:after
  content ' g'
  font-size fontSize3