// background-color
grayUltraLightBack = #F3F3F3
grayUltraLight = #F8F8F8
grayLight = #ECECEC
gray = #7D7D7D
grayDark = #303030

redRegular = #E74C3C
redActive = #BF2E1A

blueRegular = #0083CF
blueActive = #0070B2

fontHeader = "Exo 2"
fontRegular = "Open Sans"
fontIcon = "Fonticons"