//- Use loop to generate pages so you get each block and contents of the state you are in
//- What translation should be used

#content
  block slider
  .slider
    !=contents.pages.home['slider.md'].html
  block firstsoftware
  .firsthome
    .first-logo
      !=contents.pages.home['firstlogo.md'].html
    .first-description
      !=contents.pages.home['firstsoftware-description.md'].html
  block panels
  .panels
    !=contents.pages.home['panels.md'].html
  block content
  .content
    !=contents.pages.home['index.md'].html
  block partners
  .partnershome
    !=contents.pages.home['partners.md'].html
  block bkhpakketten
  .bkhpakketten
    !=contents.pages.home['bkhpakketten.md'].html
  .bkhpakketten.bkhpakketten-overzicht
    !=contents.pages.home['bkhpakketten-overzicht.md'].html
  block getuigenissen
  .getuigenissen
    !=contents.pages.home['getuigenissen.md'].html
  block references
  .references
    !=contents.pages.home['references.md'].html