//- Use loop to generate pages so you get each block and contents of the state you are in
//- What translation should be used
each partner in contents.pages.home.partners
  div!=[partner].html

#home.page
  block slider
  .slider
    !=contents.pages.home['slider.md'].html
  block firstsoftware
  .firsthome
    .first-logo
      !=contents.pages.home['firstlogo.md'].html
    .first-description
      !=contents.pages.home['firstsoftware-description.md'].html
  block panels
  .panels
    !=contents.pages.home['panels.md'].html
  block content
  .content
    !=contents.pages.home['index.md'].html
  block partners
  .partnershome
    h1 Partners
    .partnertitles
      !=contents.pages.home['partners.md'].html
    .partnercontent
      .companyweb
        !=contents.pages.home.partners['companyweb.md'].html
      .syneton
        !=contents.pages.home.partners['syneton.md'].html
      .ciel
        !=contents.pages.home.partners['ciel.md'].html
      .exact
        !=contents.pages.home.partners['exact.md'].html
      .sigmaconso
        !=contents.pages.home.partners['sigmaconso.md'].html
      .winbooks
        !=contents.pages.home.partners['winbooks.md'].html
      .acconometrics
        !=contents.pages.home.partners['acconometrics.md'].html
  block bkhpakketten
  .bkhpakketten
    !=contents.pages.home['bkhpakketten.md'].html
  .bkhpakketten.bkhpakketten-overzicht
    !=contents.pages.home['bkhpakketten-overzicht.md'].html
  block getuigenissen
  .getuigenissen
    !=contents.pages.home['getuigenissen.md'].html
  block references
  .references
    !=contents.pages.home['references.md'].html
  .referencelogos
    !=contents.pages.home['referencelogos.md'].html
#contact.page
  block contact
  .contact-address
    !=contents.pages.contact['index.md'].html
  .button
    !=contents.pages.contact['button.md'].html
  .contact-subtext
    !=contents.pages.contact['subtext.md'].html