//- Use loop to generate pages so you get each block and contents of the state you are in
//- What translation should be used

#content
  block slider
  .slider
    !=contents.articles.home['slider.md'].html
  block firstsoftware
  .firsthome
    .first-logo
      !=contents.articles.home['firstlogo.md'].html
    .first-description
      !=contents.articles.home['firstsoftware-description.md'].html
  block panels
  .panels
    !=contents.articles.home['panels.md'].html
  block content
  .content
    !=contents.articles.home['index.md'].html
  block partners
  .partnershome
    !=contents.articles.home['partners.md'].html
  block bkhpakketten
  .bkhpakketten
    !=contents.articles.home['bkhpakketten.md'].html
  .bkhpakketten.bkhpakketten-overzicht
    !=contents.articles.home['bkhpakketten-overzicht.md'].html
