block slider
div.slider
  !=contents.articles.home['slider.md'].html
block firstsoftware
div.firsthome
  !=contents.articles.home['firstsoftware.md'].html
block content
div.content
  !=contents.articles.home['index.md'].html
block partners
div.partners
  !=contents.articles.home['partners.md'].html
block bkhpakketten
div.bkhpakketten
  !=contents.articles.home['bkhpakketten.md'].html