doctype html
block vars
  - var bodyclass = 'wrapper';
  - var menuItems = contents.menu['menu.json'].metadata.items;
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = locals.name
      link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Open+Sans:400,400italic,700|Exo+2:400,700')
      link(rel='stylesheet', href=contents.stylus['main.styl'].url)
      script(src="https://use.fonticons.com/a3a6fd91.js")
  body(class=bodyclass)
    header.main-header
      block header