extends layout
block submenu
    .submenu-panel Tryout
        each item in menuItems
            li(class=item.class)=item.title + " "
            - console.log(item.submenu);
            - if (!!~item.class.indexOf('submenu'))
              ul(id=item.title.toLowerCase(), class='submenu-list')
                each subItem in item.submenu
                  li(class=subItem.class)= subItem.title