extends layout
block submenu
  .submenu-panel
    each item in menuItems
      //li(class=item.class)=item.title + " "
      if (!!~item.class.indexOf('submenu'))
        ul(id=item.title.toLowerCase().replace(" ", "-"), class='submenu-list')
          each subMenu in item.submenu
            ul.submenu-section
              li(class=subMenu.class)!= subMenu.title
                if (subMenu.subItems)
                  each subItem in subMenu.subItems
                    if (subItem.class)
                      li(class=subItem.class)!= subItem.title
